@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div>
            <h1 class="display-4">Register</h1>
        </div>

        <form id="form" action="/Register/CreateUser" method="post">
            <div class="form-group row">
                <label for="name" class="col-md-2 col-form-label">Username</label>
                <div class="col-md-10">
                    <input type="text" id="name" name="name" value="" class="form-control">
                    <div>
                        <p id="errEmail" class="text-danger"></p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="text" id="email" name="email" value="" class="form-control">
                    <div>
                        <p id="errEmail" class="text-danger"></p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-10">
                    <input type="password" id="password" name="password" value="" class="form-control">
                    <div>
                        <p id="errPassword" class="text-danger">@ViewData["RegErrMsg"]</p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="confirmPassword" class="col-md-2 col-form-label">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
                    <div>
                        <p id="errCfmPassword" class="text-danger">@ViewData["RegErrMsg"]</p>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-2"></div>

                <div class="col-md-10">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    window.onload = function () {
        let inputfields = document.getElementsByClassName("form-control");
        for (let i = 0; i < inputfields.length; i++) {
            let idname = ["errCfmPassword", "errPassword"];
            inputfields[i].onclick = function () {
                let change = document.getElementById(idname[i]);
                change.innerHTML = "";
            }
        }
    }
</script>
