.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    display: grid;
    grid-template-areas: "image" "name" "description" "add-to-cart";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.5fr 3fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    height: 25rem;
    width: 20rem;
    margin: 0.5rem;
    padding-top: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .product-item a {
        text-decoration: none;
    }

        .product-item a:hover {
            color: orange;
        }

    .product-item img {
        grid-area: image;
        width: 10rem;
        height: 10rem;
        padding: 0.2rem;
    }

    .product-item h5 {
        grid-area: name;
        display: block;
        text-align: center;
        width: 17rem;
        max-height: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-item p {
        grid-area: description;
        text-align: justify;
        display: block;
        width: 17rem;
        max-height: 8rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-item button {
        grid-area: add-to-cart;
        width: 17rem;
        max-height: 4rem;
    }

        .product-item button:hover:enabled {
            background-color: orange;
            color: black;
        }

        .product-item button:hover:disabled {
            cursor: not-allowed;
        }
 