@{
    ViewData["Title"] = "Index";
    string newRegister = (string)ViewData["newRegister"];
}

<script>
    window.onload = function () {
        let form = document.getElementById("form"); 

        if (@newRegister == true) {
            alert("Your Account is created. Please Login.");
            console.log("inside");
        } else {
            console.log("outside");
        }

        form.onsubmit = function () {
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;

            if (email.length === 0) {
                document.getElementById("errEmail").innerHTML = "Email not entered";
                return false;
            }

            if (password.length === 0) {
                document.getElementById("errPassword").innerHTML = "Password not entered";
                return false;
            }

            return true;
        }

        let inputfields = document.getElementsByClassName("form-control");
        for (let i = 0; i < inputfields.length; i++) {
            let idname = ["errEmail", "errPassword"];
            inputfields[i].onclick = function () {
                let change = document.getElementById(idname[i]);
                change.innerHTML = "";
            }
        }
    }
</script>

@*
@section Scripts
{
    <script src="~/js/JavaScript.js"></script>
}
*@

<div class="row">
    <div class="col-md-6 mx-auto">
        <div>
            <h1 class="display-4">Login</h1>
        </div>

        <form id="form" action="/Login/Auth" method="post">
            <div class="form-group row">
                <label for="email" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="text" id="email" name="email" value="" class="form-control">
                    <div>
                        <p id="errEmail" class="text-danger">@ViewData["errMsg"] </p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-10">
                    <input type="password" id="password" name="password" value="" class="form-control">
                    <div>
                        <p id="errPassword" class="text-danger">@ViewData["errMsg"]</p>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-2"></div>

                <div class="col-md-10">
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </form>

        <div>
            Not a registered user? Create an account <a style="display: inline;" asp-area="" asp-controller="Register" asp-action="Index">here</a>.
        </div>
    </div>
</div>






@*Testing to 1)   take in username and password and binded to variables
    in login/auth*@

@*<form action="/Login/Auth" method="post">
        <label for="inputUsername">Email</label>
        <input type="text" name="inputUsername" value="tesingName">

        <label for="inputPassword">Password</label>
        <input type="password" name="inputPassword">

        <button type="submit">Login</button>
    </form>*@


